<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="msvalidate.01" content="1F30C9782748B0116613399A727D7201" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Welcome to official website of Niraj Georgian. A web developer, mysql database handler, core javascript developer along with nodejs.">
      <meta name="keyboard" content="niraj georgian,ng,georgian,niraj, ninni, ninnijs, nirajgeorgian.me, niraj.me, georgian.me">
      <meta name="author" content="nirajgeorgian">
      <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
        <meta name="google-site-verification" content="xV3iAtflFZQaXoFp9UZ48kV_Ra3pCdO_LepvA2hC2lo" />
        <link rel="icon" href="/images/favicon.png">
    <title>Niraj Georgian - Web Developer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      {{{body}}}
  <script src="/javascripts/modernizr.js"></script>
  <script src="javascripts/snap.svg-min.js"></script>
    <script src="/javascripts/jquery-min.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/handlebars.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
